
/* -----------Special On Order Form----------- */

#order-section {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}

#order-section::before {
    background-color: rgba(0,0,0,0.6);
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#order-section .main-title {
    width: 97.2%;
    background-color: blanchedalmond;
    height: 35px;
    margin: 20px;
    border-radius: 30px;
    padding: 0.5rem;
    opacity: 0.8;

    position: absolute;

    top: 14%;
}

#order-section #orderImg {
    width: 25px;
    height: 25px;

    position: absolute;

    bottom: 12%;
    left: 1.5%;
}

#order-section #title {
    font-weight: 500;
    position: absolute;

    left: 4%;
}

#order-section .main-section {
    background-color: papayawhip;
    margin: 20px;
    border-radius: 10px;
    padding: 0.5rem;
    opacity: 0.8;

    position: absolute;

    width: 97.2%;
    height: 73%;
    top: 21%;
}

#order-section form .search-input {
    margin-bottom: 1.2em;
    border: none;
    background-color: #eed8c7;
}

#order-section input {
    height: 35px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
}

#order-section input:hover{
    border: 3px solid green;
}

#order-section #forms {
    display: flex;
    justify-content: space-around;
}

#order-section .form_div {
    margin: 1.5rem;
    background-color: burlywood;
    position: relative;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
    opacity: 0.9;
}

#order-section .div_head {
    margin: 0;
    padding: 1rem;
    background-color: #176e17;
    font-weight: 800;
    color: gold;
}

#order-section .form {
    margin-top: 1rem;
    padding: 1rem;
    position: relative;
}

#order-section .form .form-label {
    color: #176e17;
}

#order-section .up_div {
    display: flex;
}

#order-section .mid_div {
    display: flex;
}

#order-section .down_div {
    display: flex;
}

#orderId, #cusId, #cusAddress, #cusName, #cusPhone,
#itemCode, #itemPrice, #itemName, #itemQtyOnH,
#total, #cash, #discount, #subTotal, #balance{
    width: 92%;
}

#orderDate {
    width: 100%;
}

#order-section #addBtn {
    font-weight: 600;
    border: none;
    width: 70%;
    height: 20%;
    margin-top: 2rem;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
}

#order-section #addBtn:hover {
    background-color: #d39400;
}

#order-section #purchaseBtn, #viewBtn {
    font-weight: 600;
    border: none;
    height: 20%;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
}

#order-section #purchaseBtn:hover {
    background-color: #d39400;
}

#order-section #viewBtn {
    color: white;
    background-color: #a97240;
}

#order-section #viewBtn:hover {
    background-color: #9f5322;
}

#order-section #quantity {
    width: 40%;
}

#order-section #customers {
    width: 97%;
}

#order-section #selectItem {
    width: 92%;
}

#order-section select {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
}

#order-section select:hover {
    border: 3px solid green;
}

.modal {
    opacity: 0.9;
    width: 90%;
}

.modal .modal-body {
    background-color: #be9e75;
    color: #176e17;
}

.modal .modal-body .form-label {
    color: #176e17;
}

.modal .modal-header {
    background-color: #1a791a;
}

.modal .modal-header .modal-title {
    font-weight: 800;
    color: gold;
}

#viewOrderDetailsModal .order-table {
    opacity: 0.7;
}

#order-section .add-to-cart {
    margin: 1rem;
}

#order-section .purchase {
    margin-right: 0.2em;
}

#order-section .view {
    width: 1em;
    height: 1em;
    margin-right: 0.2em;
}

#order-section .calculator {
    margin-left: 17rem;
}

#order-section .selectItem {
    margin-left: 15rem;
}

#order-section .invoice {
    margin-left: 13rem;
}

#viewOrderDetailsModal .detailsOfOrders {
    margin-left: 1rem;
}



/*------------------------------------------*/

@media (max-width: 1415px) {

    #order-section .calculator {
        margin-left: 16.5rem;
    }

    #order-section .selectItem {
        margin-left: 14.5rem;
    }

    #order-section .invoice {
        margin-left: 12.5rem;
    }

}

/*------------------------------------------*/

@media (max-width: 1390px) {

    #order-section .calculator {
        margin-left: 16rem;
    }

    #order-section .selectItem {
        margin-left: 14rem;
    }

    #order-section .invoice {
        margin-left: 12rem;
    }

}

/*------------------------------------------*/

@media (max-width: 1365px) {

    #order-section .calculator {
        margin-left: 15rem;
    }

    #order-section .selectItem {
        margin-left: 13rem;
    }

    #order-section .invoice {
        margin-left: 11rem;
    }

}

/*------------------------------------------*/

@media (max-width: 1316px) {

    #order-section .calculator {
        margin-left: 14rem;
    }

    #order-section .selectItem {
        margin-left: 12rem;
    }

    #order-section .invoice {
        margin-left: 10rem;
    }

}

/*------------------------------------------*/

@media (max-width: 1267px) {

    #order-section .calculator {
        margin-left: 13rem;
    }

    #order-section .selectItem {
        margin-left: 11rem;
    }

    #order-section .invoice {
        margin-left: 9rem;
    }

    #order-section .add-to-cart {
        margin: 0;
    }

}

/*------------------------------------------*/

@media (max-width: 1226px) {

    #order-section .calculator {
        margin-left: 12rem;
    }

    #order-section .selectItem {
        margin-left: 10rem;
    }

    #order-section .invoice {
        margin-left: 8rem;
    }

    #order-section .add-to-cart {
        margin: 0;
    }

    #order-section .main-title {
        width: 96.5%;
        background-color: blanchedalmond;
        height: 35px;
        margin: 20px;
        border-radius: 30px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        top: 14%;
    }

    #order-section .main-section {
        background-color: papayawhip;
        margin: 20px;
        border-radius: 10px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        width: 96.5%;
        height: 73%;
        top: 21%;
    }

}

/*------------------------------------------*/

@media (max-width: 1176px) {

    #order-section .calculator {
        margin-left: 11rem;
    }

    #order-section .selectItem {
        margin-left: 9rem;
    }

    #order-section .invoice {
        margin-left: 7rem;
    }

    #order-section .add-to-cart {
        margin: 0;
    }

    #order-section #viewBtn {
        font-size: 0.9rem;
        color: white;
        background-color: #a97240;
    }

    #order-section #addBtn {
        font-size: 0.9rem;
        font-weight: 600;
        border: none;
        width: 70%;
        height: 20%;
        margin-top: 2rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section #purchaseBtn, #viewBtn {
        font-size: 0.9rem;
        font-weight: 600;
        border: none;
        height: 20%;
        margin-top: 2rem;
        margin-right: 1rem;
        margin-left: 1rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

}

/*------------------------------------------*/

@media (max-width: 1126px) {

    #order-section .calculator {
        margin-left: 10rem;
    }

    #order-section .selectItem {
        margin-left: 8rem;
    }

    #order-section .invoice {
        margin-left: 6rem;
    }

    #order-section .add-to-cart {
        margin: 0;
    }

    #order-section #viewBtn {
        font-size: 0.9rem;
        color: white;
        background-color: #a97240;
    }

    #order-section #addBtn {
        font-size: 0.9rem;
        font-weight: 600;
        border: none;
        width: 70%;
        height: 20%;
        margin-top: 2rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section #purchaseBtn, #viewBtn {
        font-size: 0.9rem;
        font-weight: 600;
        border: none;
        height: 20%;
        margin-top: 2rem;
        margin-right: 0.5rem;
        margin-left: 1rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

}

/*------------------------------------------*/

@media (max-width: 1077px) {

    #order-section .calculator {
        margin-left: 9rem;
    }

    #order-section .selectItem {
        margin-left: 7rem;
    }

    #order-section .invoice {
        margin-left: 5rem;
    }

    #order-section .add-to-cart {
        margin: 0;
    }

    #order-section #viewBtn {
        font-size: 0.9rem;
        color: white;
        background-color: #a97240;
    }

    #order-section #addBtn {
        font-size: 0.9rem;
        font-weight: 600;
        border: none;
        width: 70%;
        height: 20%;
        margin-top: 2rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section #purchaseBtn, #viewBtn {
        font-size: 0.9rem;
        font-weight: 600;
        border: none;
        height: 20%;
        margin-top: 2rem;
        margin-right: 0.5rem;
        margin-left: 1rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section #title {
        font-weight: 500;
        position: absolute;

        left: 5%;
    }

    #order-section #forms {
        display: flex;
        justify-content: space-around;
    }

    #order-section .form_div {
        margin: 1rem;
        background-color: burlywood;
        position: relative;
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
        opacity: 0.9;
    }
}

/*------------------------------------------*/

@media (max-width: 1017px) {

    #order-section .calculator {
        margin-left: 9rem;
    }

    #order-section .selectItem {
        margin-left: 7rem;
    }

    #order-section .invoice {
        margin-left: 5rem;
    }

    #order-section .add-to-cart {
        margin: 0;
    }

    #order-section #viewBtn {
        font-size: 0.9rem;
        color: white;
        background-color: #a97240;
    }

    #order-section #addBtn {
        font-size: 0.9rem;
        font-weight: 600;
        border: none;
        width: 70%;
        height: 20%;
        margin-top: 2rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section #purchaseBtn, #viewBtn {
        font-size: 0.9rem;
        font-weight: 600;
        border: none;
        height: 20%;
        margin-top: 2rem;
        margin-right: 0.5rem;
        margin-left: 1rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section #title {
        font-weight: 500;
        position: absolute;

        left: 5%;
    }

    #order-section #forms {
        display: flex;
        justify-content: space-around;
    }

    #order-section .form_div {
        margin: 0.5rem;
        background-color: burlywood;
        position: relative;
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
        opacity: 0.9;
    }
}

/*------------------------------------------*/

@media (max-width: 1000px) {

    #order-section #forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #order-section .form_div {
        margin: 1rem;
        width: 55em;
        background-color: burlywood;
        position: relative;
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
        opacity: 0.9;
    }

    #order-section .form {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #order-section::before {
        width: 100vw;
        height: 165vh;
        background-color: rgba(0,0,0,0.6);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    #order-section .home-image {
        width: 400%;
        height: 165%;
    }

    #order-section .main-title {
        width: 96%;
        background-color: blanchedalmond;
        height: 35px;
        margin: 20px;
        border-radius: 30px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        top: 14%;
    }

    #order-section .main-section {
        background-color: papayawhip;
        margin: 20px;
        border-radius: 10px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        width: 96%;
        height: 135%;
        top: 21%;
    }

    #order-section #orderDate {
        width: 95%;
    }
}

/*------------------------------------------*/

@media (max-width: 991px) {

    .modal-body {
        font-size: 0.5rem;
    }
}

/*------------------------------------------*/

@media (max-width: 940px) {

    #order-section #forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #order-section .form_div {
        margin: 1rem;
        width: 50em;
        background-color: burlywood;
        position: relative;
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
        opacity: 0.9;
    }

    #order-section .form {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #order-section::before {
        width: 100vw;
        height: 165vh;
        background-color: rgba(0,0,0,0.6);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    #order-section .home-image {
        width: 400%;
        height: 165%;
    }

    #order-section .main-title {
        width: 96%;
        background-color: blanchedalmond;
        height: 35px;
        margin: 20px;
        border-radius: 30px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        top: 14%;
    }

    #order-section .main-section {
        background-color: papayawhip;
        margin: 20px;
        border-radius: 10px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        width: 96%;
        height: 135%;
        top: 21%;
    }

    #order-section #orderDate {
        width: 95%;
    }

    #order-section #title {
        font-weight: 500;
        position: absolute;

        left: 7%;
    }
}

/*------------------------------------------*/

@media (max-width: 860px) {

    #order-section #forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #order-section .form_div {
        margin: 1rem;
        width: 45em;
        background-color: burlywood;
        position: relative;
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
        opacity: 0.9;
    }

    #order-section .form {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #order-section::before {
        width: 100vw;
        height: 165vh;
        background-color: rgba(0,0,0,0.6);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    #order-section .home-image {
        width: 400%;
        height: 165%;
    }

    #order-section .main-title {
        width: 95%;
        background-color: blanchedalmond;
        height: 35px;
        margin: 20px;
        border-radius: 30px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        top: 14%;
    }

    #order-section .main-section {
        background-color: papayawhip;
        margin: 20px;
        border-radius: 10px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        width: 95%;
        height: 135%;
        top: 21%;
    }

    #order-section #orderDate {
        width: 95%;
    }

    #order-section #viewBtn {
        color: white;
        background-color: #a97240;
    }

    #order-section #addBtn {
        font-size: 0.9rem;
        font-weight: 600;
        border: none;
        width: 70%;
        height: 20%;
        margin-top: 2rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section #purchaseBtn, #order-section #viewBtn {
        font-size: 0.8rem;
        font-weight: 600;
        border: none;
        height: 20%;
        margin-top: 2rem;
        margin-right: 0;
        margin-left: 1rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section .form .form-label {
        font-size: 0.9rem;
        color: #176e17;
    }

    #order-section #title {
        font-weight: 500;
        position: absolute;

        left: 7%;
    }

}

/*------------------------------------------*/

@media (max-width: 800px) {

    #order-section #forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #order-section .form_div {
        margin: 1rem;
        width: 44em;
        background-color: burlywood;
        position: relative;
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
        opacity: 0.9;
    }

    #order-section .form {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #order-section::before {
        width: 100vw;
        height: 165vh;
        background-color: rgba(0,0,0,0.6);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    #order-section .home-image {
        width: 400%;
        height: 165%;
    }

    #order-section .main-title {
        width: 95%;
        background-color: blanchedalmond;
        height: 35px;
        margin: 20px;
        border-radius: 30px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        top: 14%;
    }

    #order-section .main-section {
        background-color: papayawhip;
        margin: 20px;
        border-radius: 10px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        width: 95%;
        height: 135%;
        top: 21%;
    }

    #order-section #orderDate {
        width: 95%;
    }

    #order-section #viewBtn {
        color: white;
        background-color: #a97240;
    }

    #order-section #addBtn {
        font-size: 0.9rem;
        font-weight: 600;
        border: none;
        width: 70%;
        height: 20%;
        margin-top: 2rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section #purchaseBtn, #order-section #viewBtn {
        font-size: 0.8rem;
        font-weight: 600;
        border: none;
        height: 20%;
        margin-top: 2rem;
        margin-right: 0;
        margin-left: 1rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section .form .form-label {
        font-size: 0.9rem;
        color: #176e17;
    }

    #order-section #title {
        font-weight: 500;
        position: absolute;

        left: 7%;
    }

}

/*------------------------------------------*/

@media (max-width: 760px) {

    #order-section #forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #order-section .form_div {
        margin: 1rem;
        width: 42em;
        background-color: burlywood;
        position: relative;
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
        opacity: 0.9;
    }

    #order-section .form {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #order-section::before {
        width: 100vw;
        height: 165vh;
        background-color: rgba(0,0,0,0.6);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    #order-section .home-image {
        width: 400%;
        height: 165%;
    }

    #order-section .main-title {
        width: 94.5%;
        background-color: blanchedalmond;
        height: 35px;
        margin: 20px;
        border-radius: 30px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        top: 14%;
    }

    #order-section .main-section {
        background-color: papayawhip;
        margin: 20px;
        border-radius: 10px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        width: 94.5%;
        height: 135%;
        top: 21%;
    }

    #order-section #orderDate {
        width: 95%;
    }

    #order-section #viewBtn {
        color: white;
        background-color: #a97240;
    }

    #order-section #addBtn {
        font-size: 0.9rem;
        font-weight: 600;
        border: none;
        width: 70%;
        height: 20%;
        margin-top: 2rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section #purchaseBtn, #order-section #viewBtn {
        font-size: 0.8rem;
        font-weight: 600;
        border: none;
        height: 20%;
        margin-top: 2rem;
        margin-right: 0;
        margin-left: 1rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section .form .form-label {
        font-size: 0.8rem;
        color: #176e17;
    }

    #order-section #title {
        font-weight: 500;
        position: absolute;

        left: 7%;
    }

}

/*------------------------------------------*/

@media (max-width: 712px) {

    #order-section #forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #order-section .form_div {
        margin: 1rem;
        width: 40em;
        background-color: burlywood;
        position: relative;
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
        opacity: 0.9;
    }

    #order-section .form {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #order-section::before {
        width: 100vw;
        height: 163vh;
        background-color: rgba(0,0,0,0.6);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    #order-section .home-image {
        width: 400%;
        height: 163%;
    }

    #order-section .main-title {
        width: 94%;
        background-color: blanchedalmond;
        height: 35px;
        margin: 20px;
        border-radius: 30px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        top: 14%;
    }

    #order-section .main-section {
        background-color: papayawhip;
        margin: 20px;
        border-radius: 10px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        width: 94%;
        height: 132%;
        top: 21%;
    }

    #order-section #orderDate {
        width: 95%;
    }

    #order-section #viewBtn {
        color: white;
        background-color: #a97240;
    }

    #order-section #addBtn {
        font-size: 0.8rem;
        font-weight: 600;
        border: none;
        width: 70%;
        height: 20%;
        margin-top: 2rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section #purchaseBtn, #order-section #viewBtn {
        font-size: 0.8rem;
        font-weight: 600;
        border: none;
        height: 20%;
        margin-top: 2rem;
        margin-right: 0;
        margin-left: 1rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section .form .form-label {
        font-size: 0.8rem;
        color: #176e17;
    }

    #order-section form .search-input {
        font-size: 0.8rem;
        margin-bottom: 1.2em;
        border: none;
        background-color: #eed8c7;
    }

    #order-section #title {
        font-weight: 500;
        position: absolute;

        left: 7%;
    }

}

/*------------------------------------------*/

@media (max-width: 690px) {

    #order-section #forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #order-section .form_div {
        margin: 1rem;
        width: 37em;
        background-color: burlywood;
        position: relative;
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
        opacity: 0.9;
    }

    #order-section .form {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #order-section::before {
        width: 100vw;
        height: 161vh;
        background-color: rgba(0,0,0,0.6);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    #order-section .home-image {
        width: 400%;
        height: 161%;
    }

    #order-section .main-title {
        width: 94%;
        background-color: blanchedalmond;
        height: 35px;
        margin: 20px;
        border-radius: 30px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        top: 14%;
    }

    #order-section .main-section {
        background-color: papayawhip;
        margin: 20px;
        border-radius: 10px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        width: 94%;
        height: 130%;
        top: 21%;
    }

    #order-section #orderDate {
        width: 95%;
    }

    #order-section #viewBtn {
        color: white;
        background-color: #a97240;
    }

    #order-section #addBtn {
        font-size: 0.8rem;
        font-weight: 600;
        border: none;
        width: 70%;
        height: 20%;
        margin-top: 2rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section #purchaseBtn, #order-section #viewBtn {
        font-size: 0.8rem;
        font-weight: 600;
        border: none;
        height: 20%;
        margin-top: 2rem;
        margin-right: 0;
        margin-left: 1rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section .form .form-label {
        font-size: 0.7rem;
        color: #176e17;
    }

    #order-section form .search-input {
        font-size: 0.7rem;
        margin-bottom: 1.2em;
        border: none;
        background-color: #eed8c7;
    }

    #order-section #title {
        font-weight: 500;
        position: absolute;

        left: 7%;
    }

}

/*------------------------------------------*/

@media (max-width: 640px) {

    #order-section #forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #order-section .form_div {
        margin: 1rem;
        width: 34em;
        background-color: burlywood;
        position: relative;
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
        opacity: 0.9;
    }

    #order-section .form {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #order-section::before {
        width: 100vw;
        height: 157vh;
        background-color: rgba(0,0,0,0.6);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    #order-section .home-image {
        width: 400%;
        height: 157%;
    }

    #order-section .main-title {
        width: 94%;
        background-color: blanchedalmond;
        height: 35px;
        margin: 20px;
        border-radius: 30px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        top: 14%;
    }

    #order-section .main-section {
        background-color: papayawhip;
        margin: 20px;
        border-radius: 10px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        width: 94%;
        height: 128%;
        top: 21%;
    }

    #order-section #orderDate {
        width: 95%;
    }

    #order-section #viewBtn {
        color: white;
        background-color: #a97240;
    }

    #order-section #addBtn {
        font-size: 0.8rem;
        font-weight: 600;
        border: none;
        width: 70%;
        height: 20%;
        margin-top: 2rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section #purchaseBtn, #order-section #viewBtn {
        font-size: 0.8rem;
        font-weight: 600;
        border: none;
        height: 20%;
        margin-top: 2rem;
        margin-right: 0;
        margin-left: 1rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section .form .form-label {
        font-size: 0.7rem;
        color: #176e17;
    }

    #order-section form .search-input {
        font-size: 0.7rem;
        margin-bottom: 1.2em;
        border: none;
        background-color: #eed8c7;
    }

    #order-section #title {
        font-weight: 500;
        position: absolute;

        left: 7%;
    }

}

/*------------------------------------------*/

@media (max-width: 587px) {

    #order-section #forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #order-section .form_div {
        margin: 1rem;
        width: 30em;
        background-color: burlywood;
        position: relative;
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
        opacity: 0.9;
    }

    #order-section .form {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #order-section::before {
        width: 100vw;
        height: 155vh;
        background-color: rgba(0,0,0,0.6);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    #order-section .home-image {
        width: 400%;
        height: 155%;
    }

    #order-section .main-title {
        width: 94%;
        background-color: blanchedalmond;
        height: 35px;
        margin: 20px;
        border-radius: 30px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        top: 14%;
    }

    #order-section .main-section {
        background-color: papayawhip;
        margin: 20px;
        border-radius: 10px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        width: 94%;
        height: 127%;
        top: 21%;
    }

    #order-section #orderDate {
        width: 95%;
    }

    #order-section #viewBtn {
        color: white;
        background-color: #a97240;
    }

    #order-section #addBtn {
        font-size: 0.8rem;
        font-weight: 600;
        border: none;
        width: 70%;
        height: 20%;
        margin-top: 2rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section #purchaseBtn, #order-section #viewBtn {
        font-size: 0.8rem;
        font-weight: 600;
        border: none;
        height: 20%;
        margin-top: 2rem;
        margin-right: 0;
        margin-left: 1rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section .form .form-label {
        font-size: 0.7rem;
        color: #176e17;
    }

    #order-section form .search-input {
        font-size: 0.7rem;
        margin-bottom: 1.2em;
        border: none;
        background-color: #eed8c7;
    }

    #order-section #title {
        font-weight: 500;
        position: absolute;

        left: 7%;
    }

}

/*------------------------------------------*/

@media (max-width: 520px) {

    #order-section #forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #order-section .form_div {
        margin: 1rem;
        width: 26em;
        background-color: burlywood;
        position: relative;
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
        opacity: 0.9;
    }

    #order-section .form {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #order-section::before {
        width: 100vw;
        height: 153vh;
        background-color: rgba(0,0,0,0.6);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    #order-section .home-image {
        width: 400%;
        height: 153%;
    }

    #order-section .main-title {
        width: 94%;
        background-color: blanchedalmond;
        height: 35px;
        margin: 20px;
        border-radius: 30px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        top: 14%;
    }

    #order-section .main-section {
        background-color: papayawhip;
        margin: 20px;
        border-radius: 10px;
        padding: 0.5rem;
        opacity: 0.8;

        position: absolute;

        width: 94%;
        height: 125%;
        top: 21%;
    }

    #order-section #orderDate {
        width: 95%;
    }

    #order-section #viewBtn {
        color: white;
        background-color: #a97240;
    }

    #order-section #addBtn {
        font-size: 0.8rem;
        font-weight: 600;
        border: none;
        width: 70%;
        height: 20%;
        margin-top: 2rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section #purchaseBtn, #order-section #viewBtn {
        font-size: 0.8rem;
        font-weight: 600;
        border: none;
        height: 20%;
        margin-top: 2rem;
        margin-right: 0;
        margin-left: 1rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
    }

    #order-section .form .form-label {
        font-size: 0.5rem;
        color: #176e17;
    }

    input {
        height: 35px;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
    }

    input:hover{
        border: 3px solid green;
    }

    form .search-input {
        font-size: 0.5rem;
        margin-bottom: 1.2em;
        border: none;
        background-color: #eed8c7;
    }

    #order-section #title {
        font-size: 0.9rem;
        font-weight: 500;
        position: absolute;

        left: 8%;
    }

    .modal-body {
        font-size: 0.4rem;
    }

}




